[*.{kt,kts}]
ktlint_code_style = intellij_idea
# https://mrmans0n.github.io/compose-rules/ktlint/#disable-standardfunction-naming-rule-for-composable
ktlint_function_naming_ignore_when_annotated_with = Composable
